  <div id="free-consultation">
                    <div id="request">
                        <h2 id="com-colr">Request Free Consultation</h2>
                        <p>To arrange a private appointment, or schedule a time to chat and discuss projects please contact AKIVA Projects</p>
                          <form  action="" method="POST" id="contact-form">
                        <input type="text" name="first-name" class="form-control"  placeholder="FIRST NAME" id="first-name">
                        <input type="text" name="last-name" class="form-control"  placeholder="LAST NAME" id="last-name">
                        <input type="email" name="email" class="form-control"  placeholder="E-MAIL" id="email">
                        <input type="text" name="phone-no" class="form-control"  placeholder="PHONE-NO" id="phone-no">
                        <div id="link-cnslt">
                            <button type="submit" id="submit-btn" class="btn">REQUEST FREE CONSULTATION</button>
                        </div>
                        </form>
                        <div>
                            <img src="{{site.baseurl}}/img/houzz-logos.png">
                        </div>
                    </div>
                    <!-- end of #request -->
                </div>
                <!-- end of #free consultation -->
