            <div id="proj-list">
                <div class="row">
                    <ul id="slider1">
                    </ul>
                  
                </div>
            </div>
               <script type="text/javascript">
 /*mobile-config for home page slider*/
    var slider = undefined;
    generateRandomPosts(function(){
         startSlider();
    });
   

    $(window).resize(function() {
        startSlider();
    });

    function startSlider() {
        if($('#slider1').length === 0) {
            return;
        }
        if ($(window).width() < 768) {
            if (!slider) {
                slider = $('#slider1').bxSlider(getMobileConfig());
            } else {
                slider.reloadSlider(getMobileConfig());
            }
        } else if ($(window).width() > 767 && $(window).width() <= 992) {
            if (!slider) {
                slider = $('#slider1').bxSlider(getTabletConfig());
            } else {
                slider.reloadSlider(getTabletConfig());
            }
        } else {
            if (!slider) {
                slider = $('#slider1').bxSlider(getLargeScreenConfig());
            } else {
                slider.reloadSlider(getLargeScreenConfig());
            }
        }
    }

    function getMobileConfig() {
        return {
            auto: true,
            controls: false,
            preloadImages: 'all',
            minSlides: 1,
            maxSlides: 1,
            autoHover: true,
            pause: 5000,
            infiniteLoop: true,
            slideWidth: 250,
            slideMargin: 10,
            pager: 'short'
        };
    }

    function getTabletConfig() {
        return {
            auto: true,
            controls: false,
            preloadImages: 'all',
            minSlides: 3,
            maxSlides: 3,
            autoHover: true,
            pause: 5000,
            infiniteLoop: true,
            slideWidth: 250,
            slideMargin: 10,
        };
    }

    function getLargeScreenConfig() {
        return {
            auto: true,
            controls: false,
            preloadImages: 'all',
            maxSlides: 4,
            minSlides: 4,
            autoHover: true,
            pause: 5000,
            infiniteLoop: true,
            slideWidth: 500,
            slideMargin: 30

        };
    }
   (function($){
     
        $.fn.shuffle = function() {
     
            var allElems = this.get(),
                getRandom = function(max) {
                    return Math.floor(Math.random() * max);
                },
                shuffled = $.map(allElems, function(){
                    var random = getRandom(allElems.length),
                        randEl = $(allElems[random]).clone(true)[0];
                    allElems.splice(random, 1);
                    return randEl;
               });
     
            this.each(function(i){
                $(this).replaceWith($(shuffled[i]));
            });
     
            return $(shuffled);
     
        };

         
     
    })(jQuery);

 $('#portfolio-wrapper a').shuffle();
    //  function for random posts on index page
    function generateRandomPosts(callback)
    {
        $.getJSON("/all_posts.json", function(data) {
           // var random_data = [];
            var random_indexes = [];
            while(random_indexes.length < 9) {
                var rand = Math.floor(Math.random()*data.length);
                if($.inArray(rand, random_indexes) === -1) {
                    random_indexes.push(rand);
                }
            }
            var html = '';
            for(var i =0; i < 9; i++) {
                //random_data.push(data[random_indexes[i]]);
                 html += get_post_html(data[random_indexes[i]]);
            }
           /* var html = '';
            $.each(random_data, function(index, post){
               html += get_post_html(post);
            });*/
            $('#proj-list #slider1').html(html);
            callback();
    
        });
    }

    function get_post_html(post){
        var html = "";
        html += '<li>';
        html += '<div class="col-prev-work">';
        html += '<div id="proj-li-1">';
        html += '<div class="ovr">';
        html += '<img src = "/img/';
        html += post.img;
        html += '">';
        html += '<div class="img-overlay">';
        html += '</div>';
        html += '</div>';
        html += '<h4>';
        html += post.title;
        html += '</h4>';
        html += '<p>';
        html += post.description;
        html += '</p>';
        html += '<div class="com-link">';
        html += '<a href ="';
        html +=  post.url;
        html += '">';
        html += "VIEW MORE";
        html += '</a>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '</li>';
        return html;
    }



</script>
