<!-- #get-tch -->
<div id="get-tch">
    <div class="container">
        <h3>Get in touch with us today</h3>
        <p>Whatever your vision, be it contemporary or classic, put your trust in Akiva Projects to bring your transformation to life.<br> If you would like to share your ideas with our highly talented and experienced design team, then just click<br> below and we can start the creative process together.</p>
        <a href="{{site.baseurl}}/contact/">Request free consultation</a>
    </div>
    <!-- end of .container-->
</div>
<!-- end of #get-tch -->
<!-- #check out -->
<div id="check-out">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  col-sm-12 col-xs-12">
                <p><a id="chk-link" target="_blank" href="https://www.houzz.co.uk/pro/akivaprojects/akiva-projects-ltd">Check out</a> our 29 Reviews on our Houzz Pro Profile<img src="{{site.baseurl}}/img/trust-logo.png"></p>
            </div>
        </div>
    </div>
    <!-- end of .container -->
</div>
<!-- end of #check-out -->
