<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
          <div class="header-content">
          <div id="heading-banner">
              <p>PREMIUM</p>
              <h1 class="home-banner-text">{{ page.caption }}</h1>
              <a href="{{site.baseurl}}/service-packages/">DISCOVER</a>
          </div>
        </div>
        <div id="main-wrap">
        <div id="prev-proj">
        <div class="container">
            <div id="prev-proj-text">
                <p>
                </p>
            </div>
            <div class="com-heading">
            </div>
            <div id="proj-list">
                <div class="row">
<!--                     <ul id="slider1"> -->
                      <!-- javascript included here -->
<!--                     </ul> -->
                  
                </div>
            </div>
        </div>
    </div>
        </div>
      </div>
    </div>
    <div class ="bottom-spacing"></div>
    <div class = "abc"></div>
    {% include footer.html %}

  </body>

</html>
