<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
     {% assign lists = page.features %}
    <div class="page-content">
      <div class="wrapper">
          <div class="header-content">
          <div id="heading-banner">
              <p>PREMIUM</p>
              <h1 class="home-banner-text">{{ page.caption }}</h1>
              <a href="{{site.baseurl}}/service-packages/">DISCOVER</a>
          </div>
        </div>
        <div id="main-wrap">
        <div id="prev-proj">
        <div class="container">
            <div id="prev-proj-text">
                <p>
                  {{ page.company-description }}
                </p>
            </div>
            <div class="com-heading">
                 <h5>PREVIOUS</h5>
                <h2>PROJECTS</h2>
            </div>
            <div id="proj-list">
                <div class="row">
                    <ul id="slider1">
<!--                       javascript included here -->
                    </ul>
                  
                </div>
            </div>
        </div>
    </div>
    <div id="why-chose-us">
        <div class="container">
            <div class="com-heading">
                <h5>WHY</h5>
                <h2>CHOOSE US ?</h2>
            </div>
            <div id="feature-li">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4 col-xs-12 col-bdr">
                            <div class="com-grid">
                                
                                <div id=img1>
                                {% for list in lists %}
                                  <li><span>{{ list[1]}}</span></li>
                                    <div id="img1-bkg"></div>
                                </div>
                                <p></p>

                                 {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12 col-bdr">
                            <div class="com-grid">
<!--                                 <div id=img2><img src="{{site.baseurl}}/img/stopwatch.png">
                                    <div id="img2-bkg"></div>
                                </div>
                                <p>WE ALWAYS
                                    <br> Deliver on time & on budget</p> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12">
                            <div class="com-grid">
<!--                                 <div id="img3"><img src="{{site.baseurl}}/img/money.png">
                                    <div id="img3-bkg"></div>
                                </div>
                                <p>Hassle-free
                                    <br> ITEMMISED Costings</p> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12 col-bdr col-bdtop">
                            <div class="com-grid">
<!--                                 <div id="img4"><img src="{{site.baseurl}}/img/interview.png">
                                    <div id="img4-bkg"></div>
                                </div>
                                <p>Free consultation
                                    <br>
                                    <span id="italic-p">with no obligations</span>
                                </p> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12 col-bdr col-bdtop">
                            <div class="com-grid">
<!--                                 <div id="img5"><img src="{{site.baseurl}}/img/manager.png">
                                    <div id="img5-bkg"></div>
                                </div>
                                <p>Projects MAnaged via
                                    <br>basecamp project management</p> -->
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-xs-12 col-bdtop" id="od-gr">
                            <div class="com-grid">
<!--                                 <div id="img6"><img src="{{site.baseurl}}/img/pinterest.png">
                                    <div id="img6-bkg"></div>
                                </div>
                                <p>Collaborative Houzz idea books
                                    <br> & pinterest boards</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div id="custom-say">
        <div class="container">
            <div class="com-heading">
                <h5>WHAT</h5>
                <h2>CUSTOMERS SAY</h2>
            </div>
            <div class="row">
                <ul id="slider2">
                    <li>
                        <section id="test-section" class="row">
                            <img src="img/test1.jpg" class="img-responsive center-block">
                        </section>
                        <div> <img src="img/blockquote.png" class="blk"></div>
                        <div id="testimonial-text">
                        </div>
                    </li>
                    <li>
                        <section id="test-section" class="row">
                            <img src="img/test2.jpg" class="img-responsive center-block">
                        </section>
                        <div> <img src="img/blockquote.png" class="blk"></div>
                        <div id="testimonial-text">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end of .container -->
    </div>
        </div>
      </div>
    </div>
    <div class ="bottom-spacing"></div>
    <div class = "abc">
    {{content}}
    </div>
        <div class = "abc">
    {{content}}
    </div>
    {% include footer.html %}

  </body>

</html>
