<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="container">  
          <div class="header-content">
          <div id="heading-banner">
              <p>PREMIUM</p>
              <h1 class="home-banner-text">{{ page.banner-text }}</h1>
              <a href="{{site.baseurl}}/service-packages/">DISCOVER</a>
          </div>
        </div>
        <div id="main-wrap">
          {{content}}
        </div>
      </div>
      </div>
    </div>
    <div class ="bottom-spacing"></div>
    {% include footer.html %}

  </body>

</html>
